<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">

    <title>React App</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <div class="container-fluid">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#scales" role="tab">Scales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#pentagrama" role="tab">Pentagrama</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#guitar" role="tab">Guitar</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="scales" role="tabpanel">
    <div id="scalesApp"></div>
  </div>

  <div class="tab-pane" id="pentagrama" role="tabpanel">
    <div id="pentagramaApp"></div>
  </div>

  <div class="tab-pane" id="guitar" role="tabpanel">
    <div id="guitarApp"></div>
  </div>
</div>

</div>
    
    <!--
      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
<!--
<div class='mainGuitar' style='background-color: #000;'>
<table>
  <tr>
    <td *ngFor="let line of guitar[0]; let i = index" style='width: 40px; background-color: #fff'>
      <span>{{ i + 1 }}</span>
    </td>
  </tr>
  <tr *ngFor="let line of majorGuitar">
    <td *ngFor="let note of line">
      <span [class.c]="note.note === 'C'" >{{ note?.note }}</span>
    </td>
  </tr>
</table>
</div>
<!-- -->



<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="assets/jquery/jquery-3.1.1.slim.min.js"></script>
<script src="assets/tether/tether.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
