.c{
  color: #f00;
}

.mainPentagrama{
  position: relative;
  width:100%;
  height:150px;
  background-color:#fff;
}
.pentaLine1{
  position: absolute;
  top: 40px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine2{
  position: absolute;
  top: 60px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine3{
  position: absolute;
  top: 80px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine4{
  position: absolute;
  top: 100px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine5{
  position: absolute;
  top: 120px;
  width:100%;
  height:2px;
  background-color:#000;
}

.key-G-1-A{
  position: absolute;
  top: 85px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-B{
  position: absolute;
  top: 75px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-C{
  position: absolute;
  top: 135px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-D{
  position: absolute;
  top: 125px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-E{
  position: absolute;
  top: 115px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-F{
  position: absolute;
  top: 105px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-1-G{
  position: absolute;
  top: 95px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-A{
  position: absolute;
  top: 15px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-B{
  position: absolute;
  top: 5px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-C{
  position: absolute;
  top: 65px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-D{
  position: absolute;
  top: 55px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-E{
  position: absolute;
  top: 45px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-F{
  position: absolute;
  top: 35px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-G-2-G{
  position: absolute;
  top: 25px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-A{
  position: absolute;
  top: 105px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-B{
  position: absolute;
  top: 95px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-C{
  position: absolute;
  top: 85px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-D{
  position: absolute;
  top: 145px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-E{
  position: absolute;
  top: 135px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-F{
  position: absolute;
  top: 125px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-1-G{
  position: absolute;
  top: 115px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-A{
  position: absolute;
  top: 35px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-B{
  position: absolute;
  top: 25px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-C{
  position: absolute;
  top: 15px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-D{
  position: absolute;
  top: 75px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-E{
  position: absolute;
  top: 65px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-F{
  position: absolute;
  top: 55px;
  width:12px;
  height:12px;
  background-color:#f00;
}

.key-F-2-G{
  position: absolute;
  top: 45px;
  width:12px;
  height:12px;
  background-color:#f00;
}

