.mainGuitar{
  position: relative;
  width:100%;
  height:330px;
  background-color:#fff;
}

.headerGuitar{
  position: absolute;
  width:100%;
  height:30px;
  background-color:#fff;
  margin-top: 12px;
}

.bodyGuitar{
  position: absolute;
  top:30px;
  width:100%;
  height:300px;
  background-color:#fff;
}

.GuitarCord{
  position: absolute;
  width:100%;
  height:2px;
  background-color:#000;
}

.GuitarFred{
  position: absolute;
  height:100%;
  width:2px;
  background-color:#000;
}

.GuitarNote{
  position: absolute;
  height:24px;
  width:24px;
  background-color:rgb(255, 128, 0);
  margin-left: -12px;
  margin-top: -12px;
  text-align: center;
}

.Cord-1{ top: 25px; }
.Cord-2{ top: 75px; }
.Cord-3{ top: 125px; }
.Cord-4{ top: 175px; }
.Cord-5{ top: 225px; }
.Cord-6{ top: 275px; }


.Fred-0{ left: 40px; }
.Fred-1{ left: 80px; }
.Fred-2{ left: 120px; }
.Fred-3{ left: 160px; }
.Fred-4{ left: 200px; }
.Fred-5{ left: 240px; }
.Fred-6{ left: 280px; }
.Fred-7{ left: 320px; }
.Fred-8{ left: 360px; }
.Fred-9{ left: 400px; }
.Fred-10{ left: 440px; }
.Fred-11{ left: 480px; }
.Fred-12{ left: 520px; }
.Fred-13{ left: 560px; }
.Fred-14{ left: 600px; }
.Fred-15{ left: 640px; }
.Fred-16{ left: 680px; }
.Fred-17{ left: 720px; }
.Fred-18{ left: 760px; }
.Fred-19{ left: 800px; }
.Fred-20{ left: 840px; }
.Fred-21{ left: 880px; }
.Fred-22{ left: 920px; }
.Fred-23{ left: 960px; }
.Fred-24{ left: 1000px; }
