.c{
  color: #f00;
}

.mainPentagrama{
  position: relative;
  width:100%;
  height:280px;
  background-color:#fff;
}
.pentaLine1{
  position: absolute;
  top: 70px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine2{
  position: absolute;
  top: 110px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine3{
  position: absolute;
  top: 150px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine4{
  position: absolute;
  top: 190px;
  width:100%;
  height:2px;
  background-color:#000;
}
.pentaLine5{
  position: absolute;
  top: 230px;
  width:100%;
  height:2px;
  background-color:#000;
}

.key{
  position: absolute;
  width:22px;
  height:22px;
  background-color:#000;
  color: white;
  text-align: center;
}

.key-G-1-A{ top: 160px; }
.key-G-1-B{ top: 140px; }
.key-G-1-C{ top: 260px; }
.key-G-1-D{ top: 240px; }
.key-G-1-E{ top: 220px; }
.key-G-1-F{ top: 200px; }
.key-G-1-G{ top: 180px; }
.key-G-2-A{ top: 20px; }
.key-G-2-B{ top: 0px; }
.key-G-2-C{ top: 120px; }
.key-G-2-D{ top: 100px; }
.key-G-2-E{ top: 80px; }
.key-G-2-F{ top: 60px; }
.key-G-2-G{ top: 40px; }

.key-F-1-A{ top: 200px; }
.key-F-1-B{ top: 180px; }
.key-F-1-C{ top: 160px; }
.key-F-1-D{ top: 280px; }
.key-F-1-E{ top: 260px; }
.key-F-1-F{ top: 240px; }
.key-F-1-G{ top: 220px; }
.key-F-2-A{ top: 60px; }
.key-F-2-B{ top: 40px; }
.key-F-2-C{ top: 20px; }
.key-F-2-D{ top: 140px; }
.key-F-2-E{ top: 120px; }
.key-F-2-F{ top: 100px; }
.key-F-2-G{ top: 80px; }

.position-1{ left:20px; }
.position-2{ left:50px; }
.position-3{ left:80px; }
.position-4{ left:110px; }
.position-5{ left:140px; }
.position-6{ left:170px; }
.position-7{ left:200px; }
.position-8{ left:230px; }
.position-9{ left:260px; }
.position-10{ left:290px; }
.position-11{ left:320px; }
.position-12{ left:350px; }
.position-13{ left:380px; }
.position-14{ left:410px; }
.position-15{ left:440px; }
.position-16{ left:470px; }
.position-17{ left:500px; }
.position-18{ left:530px; }
.position-19{ left:560px; }
.position-20{ left:590px; }
.position-21{ left:620px; }
.position-22{ left:650px; }
.position-23{ left:680px; }
.position-24{ left:710px; }
.position-25{ left:740px; }
.position-26{ left:770px; }
.position-27{ left:800px; }
.position-28{ left:830px; }
